[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*.resharper
*.zip
README.md.meta
LICENSE.txt.meta
StreamingAssets/Write Tests.meta
StreamingAssets/Write Tests/
